.vehicle-list {
  list-style: none;
  width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  /* For tablets and larger screens */
  .vehicle-list {
    display: flex;
    flex-wrap: wrap;
  }
}